# This is a configuration definition file in folder "/media/Data/Dropbox/LTLMoP-ubuntu/src/examples/FStwo_robot_negotiation/twoRobots_assemblyLine/bob/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
stamp = fozzie.BaxterActuatorHandler.play_traj(loops=1, actuatorName=u'stamp', fileName=u'lib/handlers/baxter/actions/stamp_return.rec')
takeBlock = fozzie.BaxterActuatorHandler.play_traj(loops=1, actuatorName=u'takeBlock', fileName=u'lib/handlers/baxter/actions/pickup_stamp.rec')

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
bob

Name: # Configuration name
baxter

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
startStamping = share.DummySensorHandler.buttonPress(button_name='startStamping', init_value=False)
r2_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'r2')
alice_r1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'r1')
r1_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'r1')
alice_takeBlock = share.DummySensorHandler.otherRobotActionStatus(robot_name=u'alice', action=u'takeBlock')
alice_r2 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'r2')
stamp_ac = fozzie.BaxterSensorHandler.play_traj_completion(actuatorName=u'stamp')
takeBlock_ac = fozzie.BaxterSensorHandler.play_traj_completion(actuatorName=u'takeBlock')


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="r2")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
bob

Type: # Robot type
basicSim


======== Robot2 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
baxter.BaxterActuatorHandler(limb="both",rate=100.0,mode="position_w_id")

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.BipedalDriveHandler(maxspeed=1.0,maxfreq=1.0,angcur=1.047,angfwd=0.262,minvel=0.3,silent=True)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
baxter.BaxterInitHandler()

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
baxter.BaxterLocomotionCommandHandler()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
share.Pose.ViconPoseHandler(host="10.0.0.102",port=800,x_VICON_name="baxter:baxter <t-X>",y_VICON_name="baxter:baxter <t-Y>",theta_VICON_name="baxter:baxter <a-Z>")

RobotName: # Robot Name
fozzie

SensorHandler: # Sensor handler file in robots/Type folder
baxter.BaxterSensorHandler()

Type: # Robot type
baxter

