# This is a configuration definition file in folder "/media/Data/Dropbox/LTLMoP-ubuntu/src/examples/FStwo_robot_negotiation/delivery/alice_noPickUp/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
pickup = share.DummyActuatorHandler.setActuator(name='pickup')
deliver = share.DummyActuatorHandler.setActuator(name='deliver')

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
alice

Name: # Configuration name
basicSimAndNao

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
hallwayBottom_rc = share.DummySensorHandler.buttonPress(button_name='hallwayBottom_rc', init_value=False)
bob_reception = share.DummySensorHandler.buttonPress(button_name='bob_reception', init_value=False)
bob_storageBottom = share.DummySensorHandler.buttonPress(button_name='bob_storageBottom', init_value=False)
bob_atrium = share.DummySensorHandler.buttonPress(button_name='bob_atrium', init_value=False)
library_rc = share.DummySensorHandler.buttonPress(button_name='library_rc', init_value=False)
bob_hallwayBottom = share.DummySensorHandler.buttonPress(button_name='bob_hallwayBottom', init_value=False)
itemRequest = share.DummySensorHandler.buttonPress(button_name='itemRequest', init_value=False)
atrium_rc = share.DummySensorHandler.buttonPress(button_name='atrium_rc', init_value=False)
emergencyExit_rc = share.DummySensorHandler.buttonPress(button_name='emergencyExit_rc', init_value=False)
office_rc = share.DummySensorHandler.buttonPress(button_name='office_rc', init_value=False)
bob_emergencyExit = share.DummySensorHandler.buttonPress(button_name='bob_emergencyExit', init_value=False)
hallwayCentral_rc = share.DummySensorHandler.buttonPress(button_name='hallwayCentral_rc', init_value=False)
bob_library = share.DummySensorHandler.buttonPress(button_name='bob_library', init_value=False)
cafe_rc = share.DummySensorHandler.buttonPress(button_name='cafe_rc', init_value=False)
pickup_ac = share.DummySensorHandler.buttonPress(button_name='pickup_ac', init_value=False)
bob_office = share.DummySensorHandler.buttonPress(button_name='bob_office', init_value=False)
bob_hallwayCentral = share.DummySensorHandler.buttonPress(button_name='bob_hallwayCentral', init_value=False)
bob_hallwayTop = share.DummySensorHandler.buttonPress(button_name='bob_hallwayTop', init_value=False)
storageBottom_rc = share.DummySensorHandler.buttonPress(button_name='storageBottom_rc', init_value=False)
storageTop_rc = share.DummySensorHandler.buttonPress(button_name='storageTop_rc', init_value=False)
hallwayTop_rc = share.DummySensorHandler.buttonPress(button_name='hallwayTop_rc', init_value=False)
reception_rc = share.DummySensorHandler.buttonPress(button_name='reception_rc', init_value=False)
deliver_ac = share.DummySensorHandler.buttonPress(button_name='deliver_ac', init_value=False)
bob_storageTop = share.DummySensorHandler.buttonPress(button_name='bob_storageTop', init_value=False)
bob_cafe = share.DummySensorHandler.buttonPress(button_name='bob_cafe', init_value=False)


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="library")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.RRTControllerHandler(robot_type=1,max_angle_goal=6.28,max_angle_overlap=1.57,plotting=False)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
alice

Type: # Robot type
basicSim


======== Robot2 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
nao.NaoActuatorHandler()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.BipedalDriveHandler(maxspeed=1.0,maxfreq=1.0,angcur=1.047,angfwd=0.262,minvel=0.3,silent=True)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
nao.NaoInitHandler(ip="nao.local",port=9559)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
nao.NaoLocomotionCommandHandler()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
share.Pose.ViconPoseHandler(host="10.0.0.102",port=800,x_VICON_name="Nao:Nao <t-X>",y_VICON_name="Nao:Nao <t-Y>",theta_VICON_name="Nao:Nao <a-Z>")

RobotName: # Robot Name
alice_sub

SensorHandler: # Sensor handler file in robots/Type folder
nao.NaoSensorHandler()

Type: # Robot type
nao

