# This is a configuration definition file in folder "/home/catherine/LTLMoP/src/examples/FStwo_robot_negotiation/city/wander/alice/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
Basic_Simulated_Robot

Name: # Configuration name
basicSim

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
bob_policeStation1 = share.DummySensorHandler.buttonPress(button_name='bob_policeStation1', init_value=False)
bob_policeStation2 = share.DummySensorHandler.buttonPress(button_name='bob_policeStation2', init_value=False)
policeStation2_rc = share.DummySensorHandler.buttonPress(button_name='policeStation2_rc', init_value=False)
bob_tunnel = share.DummySensorHandler.buttonPress(button_name='bob_tunnel', init_value=False)
bob_bridge = share.DummySensorHandler.buttonPress(button_name='bob_bridge', init_value=False)
policeStation1_rc = share.DummySensorHandler.buttonPress(button_name='policeStation1_rc', init_value=False)
square_rc = share.DummySensorHandler.buttonPress(button_name='square_rc', init_value=False)
bob_groceryStore = share.DummySensorHandler.buttonPress(button_name='bob_groceryStore', init_value=False)
tunnel_rc = share.DummySensorHandler.buttonPress(button_name='tunnel_rc', init_value=False)
bridge_rc = share.DummySensorHandler.buttonPress(button_name='bridge_rc', init_value=False)
park_rc = share.DummySensorHandler.buttonPress(button_name='park_rc', init_value=False)
bob_square = share.DummySensorHandler.buttonPress(button_name='bob_square', init_value=False)
bob_park = share.DummySensorHandler.buttonPress(button_name='bob_park', init_value=False)
river_rc = share.DummySensorHandler.buttonPress(button_name='river_rc', init_value=False)
groceryStore_rc = share.DummySensorHandler.buttonPress(button_name='groceryStore_rc', init_value=False)
postOffice_rc = share.DummySensorHandler.buttonPress(button_name='postOffice_rc', init_value=False)
bob_postOffice = share.DummySensorHandler.buttonPress(button_name='bob_postOffice', init_value=False)


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="bridge")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
Basic_Simulated_Robot

Type: # Robot type
basicSim

