# This is a configuration definition file in folder "/Users/wongkaiweng/Dropbox/LTLMoP-mac/src/examples/FStwo_robot_negotiation/threeRobots_small/charlie/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
charlie

Name: # Configuration name
johnny5

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
requestR1 = share.DummySensorHandler.checkIfViconObjectNearLocation(vicon_object_name=u'GPSReceiverHelmet-goodaxes:GPSReceiverHelmet01', poseX=-592.6, poseY=1694.0)
bob_L2 = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'L2')
bob_L3 = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'L3')
bob_L1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'L1')
M1_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName=u'M1')
alice_R1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'R1')
alice_R3 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'R3')
alice_R2 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'R2')
L1_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName=u'L1')
alice_M1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'M1')
requestL3 = share.DummySensorHandler.checkIfViconObjectNearLocation(vicon_object_name='folder:mainBody', poseX=1058.5, poseY=-1291.4)
bob_R2 = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'R2')
bob_R3 = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'R3')
bob_MR = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'MR')
R2_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName=u'R2')
bob_R1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'R1')
bob_ML = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'ML')
bob_M1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'M1')
L2_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName=u'L2')
alice_L3 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'L3')
alice_L2 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'L2')
alice_L1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'L1')
ML_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName=u'ML')
R3_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName=u'R3')
R1_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName=u'R1')
alice_ML = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'ML')
L3_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName=u'L3')
MR_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName=u'MR')
alice_MR = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'MR')


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
Johnny5.Johnny5ActuatorHandler()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[   2.44007203,  109.27282645,  275.62340512],
       [ 114.53481068,   -9.57506164,  290.28368033],
       [   0.        ,    0.        ,    1.        ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.DifferentialDriveHandler(d=0.6)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
Johnny5.Johnny5LocomotionCommandHandler(min_ang_vel=0.1,max_ang_vel=0.5,min_fwd_vel=0.1,max_fwd_vel=0.3,ang_vel_gain=700,fwd_vel_gain=700)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.RRTControllerHandler(robot_type=6,max_angle_goal=6.28,max_angle_overlap=1.57,plotting=False)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
share.Pose.ViconPoseHandler(host="10.0.0.102",port=800,x_VICON_name="Johnny5:Johnny5 <t-X>",y_VICON_name="Johnny5:Johnny5 <t-Y>",theta_VICON_name="Johnny5:Johnny5 <a-Z>")

RobotName: # Robot Name
charlie

SensorHandler: # Sensor handler file in robots/Type folder
Johnny5.Johnny5SensorHandler()

Type: # Robot type
Johnny5

