# This is a configuration definition file in folder "/media/Data/Dropbox/LTLMoP-ubuntu/src/examples/_single_robot_example/kitchen/deliveryAgent_characterization/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
pickup = deliveryAgent.Johnny5ActuatorHandler.pickupBox(actuatorName='pickup')
deliver = deliveryAgent.Johnny5ActuatorHandler.deliverBox(actuatorName='deliver')

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
deliveryAgent

Name: # Configuration name
johnny5

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
preparationArea_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName='preparationArea')
road_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName='road')
company_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName='company')
assistant_openDoor = share.DummySensorHandler.buttonPress(button_name='assistant_openDoor', init_value=False)
storage_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName='storage')
pickup_ac = deliveryAgent.Johnny5SensorHandler.isBehaviorCompleted(actuatorName='pickup')
deliver_ac = deliveryAgent.Johnny5SensorHandler.isBehaviorCompleted(actuatorName='deliver')
cookingArea_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName='cookingArea')
order = share.DummySensorHandler.buttonPress(button_name='order', init_value=False)


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
Johnny5.Johnny5ActuatorHandler()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[  1.17287805e+01,   2.18825625e+02,   3.57558275e+02],
       [  2.47311842e+02,  -1.16011399e-01,   4.84804562e+01],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.DifferentialDriveHandler(d=0.6)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
Johnny5.Johnny5InitHandler(comPort="/dev/ttyUSB0")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
Johnny5.Johnny5LocomotionCommandHandler(min_ang_vel=0.1,max_ang_vel=0.25,min_fwd_vel=0.1,max_fwd_vel=0.3,ang_vel_gain=700,fwd_vel_gain=700)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.RRTControllerHandler(robot_type=6,max_angle_goal=6.28,max_angle_overlap=1.57,plotting=False)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
share.Pose.ViconPoseHandler(host="128.84.189.209",port=800,x_VICON_name="Johnny5:Johnny5 <t-X>",y_VICON_name="Johnny5:Johnny5 <t-Y>",theta_VICON_name="Johnny5:Johnny5 <a-Z>")

RobotName: # Robot Name
deliveryAgent

SensorHandler: # Sensor handler file in robots/Type folder
Johnny5.Johnny5SensorHandler()

Type: # Robot type
Johnny5

