# This is a configuration definition file in folder "/media/Data/Dropbox/LTLMoP-ubuntu/src/examples/FStwo_robot_negotiation/kitchen/kitchenAssistant/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
passIngredient = share.DummyActuatorHandler.setActuator(name='passIngredient')
openDoor = share.DummyActuatorHandler.setActuator(name='openDoor')

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
assistant

Name: # Configuration name
basicSim

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
deliveryAgent_road = share.DummySensorHandler.otherRobotLocation(robot_name=u'deliveryAgent', region=u'road')
passIngredient_ac = share.DummySensorHandler.buttonPress(button_name=u'passingIngredient_ac', init_value=False)
chef_cookingArea = share.DummySensorHandler.otherRobotLocation(robot_name=u'chef', region=u'cookingArea')
storage_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'storage')
cookingArea_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'cookingArea')
company_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'company')
deliveryAgent_orderDelivery = share.DummySensorHandler.otherRobotSensorStatus(robot_name=u'deliveryAgent', sensor_name=u'orderDelivery')
chef_preparationArea = share.DummySensorHandler.otherRobotLocation(robot_name=u'chef', region=u'preparationArea')
chef_storage = share.DummySensorHandler.otherRobotLocation(robot_name=u'chef', region=u'storage')
openDoor_ac = share.DummySensorHandler.buttonPress(button_name='openDoor_ac', init_value=False)
road_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'road')
chef_receivedIngredient = share.DummySensorHandler.otherRobotSensorStatus(robot_name=u'chef', sensor_name=u'receivedIngredient')
chef_company = share.DummySensorHandler.otherRobotLocation(robot_name=u'chef', region=u'company')
deliveryAgent_preparationArea = share.DummySensorHandler.otherRobotLocation(robot_name=u'deliveryAgent', region=u'preparationArea')
deliveryAgent_cookingArea = share.DummySensorHandler.otherRobotLocation(robot_name=u'deliveryAgent', region=u'cookingArea')
chef_Actcooking = share.DummySensorHandler.otherRobotSensorStatus(robot_name=u'chef', sensor_name=u'cooking')
ingredientArrived = share.DummySensorHandler.buttonPress(button_name='ingredientArrived', init_value=False)
preparationArea_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'preparationArea')
deliveryAgent_company = share.DummySensorHandler.otherRobotLocation(robot_name=u'deliveryAgent', region=u'company')
deliveryAgent_storage = share.DummySensorHandler.otherRobotLocation(robot_name=u'deliveryAgent', region=u'storage')
chef_road = share.DummySensorHandler.otherRobotLocation(robot_name=u'chef', region=u'road')
chef_cooking = share.DummySensorHandler.otherRobotSensorStatus(robot_name=u'chef', sensor_name=u'cooking')


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="preparationArea")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.RRTControllerHandler(robot_type=1,max_angle_goal=6.28,max_angle_overlap=1.57,plotting=False)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
assistant

Type: # Robot type
basicSim

