# This is a configuration definition file in folder "/media/Data/Dropbox/LTLMoP-ubuntu/src/examples/multiRobot/one_robot_three_items/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
rob2_pickup = share.DummyActuatorHandler.setActuator(name='rob2_pickup')
rob2_drop = share.DummyActuatorHandler.setActuator(name='rob2_drop')

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
rob2

Name: # Configuration name
basicSim_MATLAB

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
other_in_r2 = share.DummySensorHandler.buttonPress(button_name='other_in_r2', init_value=False)
other_in_r4 = share.DummySensorHandler.buttonPress(button_name='other_in_r4', init_value=False)
other_in_r6 = share.DummySensorHandler.buttonPress(button_name='other_in_r6', init_value=False)
other_in_r8 = share.DummySensorHandler.buttonPress(button_name='other_in_r8', init_value=False)
rob2_glass = share.DummySensorHandler.buttonPress(button_name='rob2_glass', init_value=False)
rob2_r1_rc = share.DummySensorHandler.inRegion(robotName=u'rob2', regionName=u'r1')
rob2_r3_rc = share.DummySensorHandler.inRegion(robotName=u'rob2', regionName=u'r3')
rob2_r2_rc = share.DummySensorHandler.inRegion(robotName=u'rob2', regionName=u'r2')
rob2_r4_rc = share.DummySensorHandler.inRegion(robotName=u'rob2', regionName=u'r4')
rob2_r5_rc = share.DummySensorHandler.inRegion(robotName=u'rob2', regionName=u'r5')
rob2_r6_rc = share.DummySensorHandler.inRegion(robotName=u'rob2', regionName=u'r6')
rob2_r7_rc = share.DummySensorHandler.inRegion(robotName=u'rob2', regionName=u'r7')
rob2_r8_rc = share.DummySensorHandler.inRegion(robotName=u'rob2', regionName=u'r8')
rob2_metal = share.DummySensorHandler.buttonPress(button_name='rob2_metal', init_value=False)
rob2_pickup_ac = share.DummySensorHandler.buttonPress(button_name='rob2_pickup_ac', init_value=False)
rob2_paper = share.DummySensorHandler.buttonPress(button_name='rob2_paper', init_value=False)


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="r8")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.MultiRobotMATLABSingleRobotControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
rob2

Type: # Robot type
basicSim

