# This is a configuration definition file in folder "/home/catherine/LTLMoP/src/examples/two_robot_negotiation/city/wander/alice/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
alice

Name: # Configuration name
aliceNao

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
bob_groceryStore = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'groceryStore')
bob_policeStation1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'policeStation1')
bob_policeStation2 = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'policeStation2')
bob_tunnel = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'tunnel')
bob_bridge = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'bridge')
bob_postOffice = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'postOffice')
bob_square = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'square')
bob_park = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'park')
call_p = alice.NaoSensorHandler.betweenClasses()
call_g = alice.NaoSensorHandler.findChief()

======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
nao.NaoActuatorHandler()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[  -1.87713088,  140.36426902,  341.18512892],
       [ 148.71177731,   -3.79285917,  312.98308874],
       [   0.        ,    0.        ,    1.        ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.BipedalDriveHandler(maxspeed=1.0,maxfreq=1.0,angcur=1.047,angfwd=0.262,minvel=0.3,silent=True)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
nao.NaoInitHandler(ip="maecy.local",port=9559)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
nao.NaoLocomotionCommandHandler()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.RRTControllerHandler(robot_type=4,max_angle_goal=6.28,max_angle_overlap=1.57,plotting=False)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
share.Pose.ViconPoseHandler(host="10.0.0.102",port=800,x_VICON_name="Nao:Nao <t-X>",y_VICON_name="Nao:Nao <t-Y>",theta_VICON_name="Nao:Nao <a-Z>")

RobotName: # Robot Name
alice

SensorHandler: # Sensor handler file in robots/Type folder
nao.NaoSensorHandler()

Type: # Robot type
nao

