# This is a configuration definition file in folder "/media/Data/Dropbox/LTLMoP-ubuntu/src/examples/_single_robot_example/full_scenario/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
drop = share.DummyActuatorHandler.setActuator(name='drop')
pickup = share.DummyActuatorHandler.setActuator(name='pickup')
sayAlarm = share.DummyActuatorHandler.setActuator(name='sayAlarm')
saySpill = share.DummyActuatorHandler.setActuator(name='saySpill')

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
Basic_Simulated_Robot

Name: # Configuration name
basicSim

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
paper_deposit_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName='paper_deposit')
headTapped = share.DummySensorHandler.buttonPress(button_name='headTapped', init_value=False)
spill = share.DummySensorHandler.buttonPress(button_name='spill', init_value=False)
others_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName='others')
metal = share.DummySensorHandler.buttonPress(button_name='metal', init_value=False)
alarm = share.DummySensorHandler.buttonPress(button_name='alarm', init_value=False)
glass_deposit_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName='glass_deposit')
sayAlarm_ac = share.DummySensorHandler.buttonPress(button_name='sayAlarm_ac', init_value=False)
glass = share.DummySensorHandler.buttonPress(button_name='glass', init_value=False)
pickup_ac = share.DummySensorHandler.buttonPress(button_name='pickup_ac', init_value=False)
paper = share.DummySensorHandler.buttonPress(button_name='paper', init_value=False)
metal_deposit_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName='metal_deposit')
office_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName='office')
entrance_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName='entrance')
drop_ac = share.DummySensorHandler.buttonPress(button_name='drop_ac', init_value=False)
saySpill_ac = share.DummySensorHandler.buttonPress(button_name='saySpill_ac', init_value=False)


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="office")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.RRTControllerHandler(robot_type=1,max_angle_goal=6.28,max_angle_overlap=1.57,plotting=False)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
Basic_Simulated_Robot

Type: # Robot type
basicSim

