# This is a configuration definition file in folder "/media/Data/Dropbox/LTLMoP-ubuntu/src/examples/FStwo_robot_negotiation/delivery/bob/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
sweeping = share.DummyActuatorHandler.setActuator(name='sweeping')

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
bob

Name: # Configuration name
onlyBob

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
cafe_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'cafe')
storageTop_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'storageTop')
office_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'office')
cleanArea = share.DummySensorHandler.buttonPress(button_name='cleanArea', init_value=False)
hallwayTop_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'hallwayTop')
hallwayBottom_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'hallwayBottom')
sweeping_ac = share.DummySensorHandler.buttonPress(button_name='sweeping_ac', init_value=False)
storageBottom_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'storageBottom')
hallwayCentral_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'hallwayCentral')
library_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'library')
obstacle = share.DummySensorHandler.buttonPress(button_name='obstacle', init_value=False)
reception_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'reception')
atrium_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'atrium')
emergencyExit_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'emergencyExit')


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="office")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.RRTControllerHandler(robot_type=1,max_angle_goal=6.28,max_angle_overlap=1.57,plotting=False)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
bob

Type: # Robot type
basicSim

