# This is a configuration definition file in folder "/home/catherine/LTLMoP/src/examples/RSS2014/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
deliver = MAE.NaoActuatorHandler.runBehavior(endBehaviorName='', repeat_period='', startBehaviorName=u'deliver')
pickup = MAE.NaoActuatorHandler.runBehavior(endBehaviorName='', repeat_period='', startBehaviorName=u'pickup')

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
MAE

Name: # Configuration name
Nao_maeby

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
betweenClasses = MAE.NaoSensorHandler.betweenClasses()
cooking = MAE.NaoSensorHandler.findChief()
packageReady = share.DummySensorHandler.buttonPress(button_name='packageReady', init_value=False)
doorClosed = MAE.NaoSensorHandler.seeLandMark(landMark_id=68)


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
nao.NaoActuatorHandler()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 188.41881619,    9.69588335, -509.12213467],
       [  13.79813708, -101.35536313,  327.36129125],
       [   0.        ,    0.        ,    1.        ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.BipedalDriveHandler(maxspeed=1.0,maxfreq=1.0,angcur=1.047,angfwd=0.262,minvel=0.3,silent=True)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
nao.NaoInitHandler(ip="maeby.local",port=9559)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
nao.NaoLocomotionCommandHandler()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
share.Pose.ViconPoseHandler(host="10.0.0.102",port=800,x_VICON_name="Nao:Nao <t-X>",y_VICON_name="Nao:Nao <t-Y>",theta_VICON_name="Nao:Nao <a-Z>")

RobotName: # Robot Name
MAE

SensorHandler: # Sensor handler file in robots/Type folder
nao.NaoSensorHandler()

Type: # Robot type
nao

