# This is a configuration definition file in folder "/home/catherine/LTLMoP/src/examples/multiRobot/full/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
rob1_pickup = rob1.NaoActuatorHandler.runBehavior(endBehaviorName='', repeat=False, startBehaviorName='pickup')
rob1_drop = rob1.NaoActuatorHandler.runBehavior(endBehaviorName='', repeat=False, startBehaviorName='deliver')
rob2_pickup = rob2.NaoActuatorHandler.runBehavior(endBehaviorName='', repeat=False, startBehaviorName='pickup')
rob2_drop = rob2.NaoActuatorHandler.runBehavior(endBehaviorName='', repeat=False, startBehaviorName='deliver')
rob3_pickup = rob3.Johnny5ActuatorHandler.pickup(arm=u'left')
rob3_drop = rob3.Johnny5ActuatorHandler.pickup(arm=u'left')

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
rob1

Name: # Configuration name
twoNaosJohnny_MATLAB

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
rob1_metal = rob1.NaoSensorHandler.seeLandMark(landMark_id=130)
rob1_glass = rob1.NaoSensorHandler.seeLandMark(landMark_id=170)
rob1_paper = rob1.NaoSensorHandler.seeLandMark(landMark_id=68)
rob1_pickup_ac = share.DummySensorHandler.buttonPress(button_name='rob1_pickup_ac', init_value=False)
rob1_r1_rc = share.DummySensorHandler.inRegionMATLAB(robotName=u'rob1', regionName=u'r1')
rob1_r3_rc = share.DummySensorHandler.inRegionMATLAB(robotName=u'rob1', regionName=u'r3')
rob1_r2_rc = share.DummySensorHandler.inRegionMATLAB(robotName=u'rob1', regionName=u'r2')
rob1_r4_rc = share.DummySensorHandler.inRegionMATLAB(robotName=u'rob1', regionName=u'r4')
rob1_r5_rc = share.DummySensorHandler.inRegionMATLAB(robotName=u'rob1', regionName=u'r5')
rob1_r6_rc = share.DummySensorHandler.inRegionMATLAB(robotName=u'rob1', regionName=u'r6')
rob1_r7_rc = share.DummySensorHandler.inRegionMATLAB(robotName=u'rob1', regionName=u'r7')
rob1_r8_rc = share.DummySensorHandler.inRegionMATLAB(robotName=u'rob1', regionName=u'r8')
rob2_metal = rob2.NaoSensorHandler.seeLandMark(landMark_id=130)
rob2_glass = rob2.NaoSensorHandler.seeLandMark(landMark_id=170)
rob2_paper = rob2.NaoSensorHandler.seeLandMark(landMark_id=68)
rob2_pickup_ac = share.DummySensorHandler.buttonPress(button_name='rob2_pickup_ac', init_value=False)
rob2_r1_rc = share.DummySensorHandler.inRegionMATLAB(robotName=u'rob2', regionName=u'r1')
rob2_r3_rc = share.DummySensorHandler.inRegionMATLAB(robotName=u'rob2', regionName=u'r3')
rob2_r2_rc = share.DummySensorHandler.inRegionMATLAB(robotName=u'rob2', regionName=u'r2')
rob2_r4_rc = share.DummySensorHandler.inRegionMATLAB(robotName=u'rob2', regionName=u'r4')
rob2_r5_rc = share.DummySensorHandler.inRegionMATLAB(robotName=u'rob2', regionName=u'r5')
rob2_r6_rc = share.DummySensorHandler.inRegionMATLAB(robotName=u'rob2', regionName=u'r6')
rob2_r7_rc = share.DummySensorHandler.inRegionMATLAB(robotName=u'rob2', regionName=u'r7')
rob2_r8_rc = share.DummySensorHandler.inRegionMATLAB(robotName=u'rob2', regionName=u'r8')
rob3_metal = share.DummySensorHandler.buttonPress(button_name='rob3_metal', init_value=False)
rob3_glass = share.DummySensorHandler.buttonPress(button_name='rob3_glass', init_value=False)
rob3_paper = share.DummySensorHandler.buttonPress(button_name='rob3_paper', init_value=False)
rob3_pickup_ac = share.DummySensorHandler.buttonPress(button_name='rob3_pickup_ac', init_value=False)
rob3_r1_rc = share.DummySensorHandler.inRegionMATLAB(robotName=u'rob3', regionName=u'r1')
rob3_r3_rc = share.DummySensorHandler.inRegionMATLAB(robotName=u'rob3', regionName=u'r3')
rob3_r2_rc = share.DummySensorHandler.inRegionMATLAB(robotName=u'rob3', regionName=u'r2')
rob3_r4_rc = share.DummySensorHandler.inRegionMATLAB(robotName=u'rob3', regionName=u'r4')
rob3_r5_rc = share.DummySensorHandler.inRegionMATLAB(robotName=u'rob3', regionName=u'r5')
rob3_r6_rc = share.DummySensorHandler.inRegionMATLAB(robotName=u'rob3', regionName=u'r6')
rob3_r7_rc = share.DummySensorHandler.inRegionMATLAB(robotName=u'rob3', regionName=u'r7')
rob3_r8_rc = share.DummySensorHandler.inRegionMATLAB(robotName=u'rob3', regionName=u'r8')

======== Robot1 Config ========
ActuatorHandler: # Actuator handler file in robots/Type folder
nao.NaoActuatorHandler()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 162.20695756,   -5.61646218,  362.06348636],
       [   5.94443871, -130.0710695 ,  387.4889969 ],
       [   0.        ,    0.        ,    1.        ]])
       
DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.BipedalDriveHandler(maxspeed=1.0,maxfreq=1.0,angcur=1.047,angfwd=0.262,minvel=0.3,silent=True)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
nao.NaoInitHandler(ip="maecy.local",port=9559)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
nao.NaoLocomotionCommandHandler()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.MultiRobotMATLABControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
share.Pose.ViconPoseHandler(host="10.0.0.102",port=800,x_VICON_name="Nao:Nao <t-X>",y_VICON_name="Nao:Nao <t-Y>",theta_VICON_name="Nao:Nao <a-Z>")

RobotName: # Robot Name
rob1

SensorHandler: # Sensor handler file in robots/Type folder
nao.NaoSensorHandler()

Type: # Robot type
nao

======== Robot2 Config ========
ActuatorHandler: # Actuator handler file in robots/Type folder
nao.NaoActuatorHandler()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 162.20695756,   -5.61646218,  362.06348636],
       [   5.94443871, -130.0710695 ,  387.4889969 ],
       [   0.        ,    0.        ,    1.        ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.BipedalDriveHandler(maxspeed=1.0,maxfreq=1.0,angcur=1.047,angfwd=0.262,minvel=0.3,silent=True)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
nao.NaoInitHandler(ip="maeby.local",port=9559)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
nao.NaoLocomotionCommandHandler()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
share.Pose.ViconPoseHandler(host="10.0.0.102",port=800,x_VICON_name="maeby:maeby <t-X>",y_VICON_name="maeby:maeby <t-Y>",theta_VICON_name="maeby:maeby <a-Z>")

RobotName: # Robot Name
rob2

SensorHandler: # Sensor handler file in robots/Type folder
nao.NaoSensorHandler()

Type: # Robot type
nao

======== Robot3 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
Johnny5.Johnny5ActuatorHandler()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 162.20695756,   -5.61646218,  362.06348636],
       [   5.94443871, -130.0710695 ,  387.4889969 ],
       [   0.        ,    0.        ,    1.        ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.DifferentialDriveHandler(d=0.6)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
Johnny5.Johnny5InitHandler(comPort="/com3")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
Johnny5.Johnny5LocomotionCommandHandler(min_ang_vel=0.1,max_ang_vel=0.5,min_fwd_vel=0.1,max_fwd_vel=0.3,ang_vel_gain=700,fwd_vel_gain=700)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
share.Pose.ViconPoseHandler(host="10.0.0.102",port=800,x_VICON_name="Johnny5:Johnny5 <t-X>",y_VICON_name="Johnny5:Johnny5 <t-Y>",theta_VICON_name="Johnny5:Johnny5 <a-Z>")

RobotName: # Robot Name
rob3

SensorHandler: # Sensor handler file in robots/Type folder
Johnny5.Johnny5SensorHandler()

Type: # Robot type
Johnny5

