# This is a configuration definition file in folder "/home/catherine/LTLMoP/src/examples/multiRobot/full/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
rob1_pickup = share.DummyActuatorHandler.setActuator(name='rob1_pickup')
rob1_drop = share.DummyActuatorHandler.setActuator(name='rob1_drop')

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
rob1

Name: # Configuration name
one_robot_three_items

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
rob1_metal = share.DummySensorHandler.buttonPress(button_name='rob1_metal', init_value=False)
rob1_glass = share.DummySensorHandler.buttonPress(button_name='rob1_glass', init_value=False)
rob1_paper = share.DummySensorHandler.buttonPress(button_name='rob1_paper', init_value=False)
rob1_pickup_ac = share.DummySensorHandler.buttonPress(button_name='rob1_pickup_ac', init_value=False)
rob1_drop_ac = share.DummySensorHandler.buttonPress(button_name='rob1_drop_ac', init_value=False)
rob1_r1_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'r1')
rob1_r3_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'r3')
rob1_r2_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'r2')
rob1_r4_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'r4')
rob1_r5_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'r5')
rob1_r6_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'r6')
rob1_r7_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'r7')
rob1_r8_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'r8')




======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="r1")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.MultiRobotControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
rob1

Type: # Robot type
basicSim

