# This is a configuration definition file in folder "/media/Data/Dropbox/LTLMoP-ubuntu/src/examples/actuations/middle_level/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
executePath = share.DummyActuatorHandler.setActuator(name='executePath')
tryLocateObject = share.DummyActuatorHandler.setActuator(name='tryLocateObject')
planPath = share.DummyActuatorHandler.setActuator(name='planPath')
checkObjectWithinReach = share.DummyActuatorHandler.setActuator(name='checkObjectWithinReach')
informUser = share.DummyActuatorHandler.setActuator(name='informUser')
pickupDone = share.DummyActuatorHandler.setActuator(name='pickupDone')

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
Basic_Simulated_Robot

Name: # Configuration name
Untitled configuration

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
checkObjectWithinReach_ac = share.DummySensorHandler.buttonPress(button_name='checkObjectWithinReach_ac', init_value=False)
r1_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'r1')
objectWithinReach = share.DummySensorHandler.buttonPress(button_name='objectWithinReach', init_value=False)
r2_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'r2')
pathFound = share.DummySensorHandler.buttonPress(button_name='pathFound', init_value=False)
informUser_ac = share.DummySensorHandler.buttonPress(button_name='informUser_ac', init_value=False)
tryLocateObject_ac = share.DummySensorHandler.buttonPress(button_name='tryLocateObject_ac', init_value=False)
locatedObject = share.DummySensorHandler.buttonPress(button_name='locatedObject', init_value=False)
executePath_ac = share.DummySensorHandler.buttonPress(button_name='executePath_ac', init_value=False)
objectInHand = share.DummySensorHandler.buttonPress(button_name='objectInHand', init_value=False)
pickupDone_ac = share.DummySensorHandler.buttonPress(button_name='pickupDone_ac', init_value=False)
planPath_ac = share.DummySensorHandler.buttonPress(button_name='planPath_ac', init_value=False)
orderRequest = share.DummySensorHandler.buttonPress(button_name='orderRequest', init_value=False)


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="r2")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.RRTControllerHandler(robot_type=1,max_angle_goal=6.28,max_angle_overlap=1.57,plotting=True)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
Basic_Simulated_Robot

Type: # Robot type
basicSim

