# This is a configuration definition file in folder "/Users/wongkaiweng/Dropbox/LTLMoP-mac/src/examples/FStwo_robot_negotiation/threeRobots_small/alice/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
alice

Name: # Configuration name
basicSim

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
bob_L2 = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'L2')
bob_L3 = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'L3')
bob_L1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'L1')
M1_rc = share.DummySensorHandler.inRegion(regionName=u'M1')
L1_rc = share.DummySensorHandler.inRegion(regionName=u'L1')
bob_R1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'R1')
bob_R2 = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'R2')
bob_R3 = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'R3')
bob_MR = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'MR')
R2_rc = share.DummySensorHandler.inRegion(regionName=u'R2')
charlie_M1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'charlie', region=u'M1')
bob_ML = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'ML')
charlie_L3 = share.DummySensorHandler.otherRobotLocation(robot_name=u'charlie', region=u'L3')
bob_M1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'M1')
L2_rc = share.DummySensorHandler.inRegion(regionName=u'L2')
charlie_L1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'charlie', region=u'L1')
charlie_MR = share.DummySensorHandler.otherRobotLocation(robot_name=u'charlie', region=u'MR')
charlie_ML = share.DummySensorHandler.otherRobotLocation(robot_name=u'charlie', region=u'ML')
L3_rc = share.DummySensorHandler.inRegion(regionName=u'L3')
ML_rc = share.DummySensorHandler.inRegion(regionName=u'ML')
R3_rc = share.DummySensorHandler.inRegion(regionName=u'R3')
charlie_L2 = share.DummySensorHandler.otherRobotLocation(robot_name=u'charlie', region=u'L2')
R1_rc = share.DummySensorHandler.inRegion(regionName=u'R1')
MR_rc = share.DummySensorHandler.inRegion(regionName=u'MR')
charlie_R1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'charlie', region=u'R1')
charlie_R3 = share.DummySensorHandler.otherRobotLocation(robot_name=u'charlie', region=u'R3')
charlie_R2 = share.DummySensorHandler.otherRobotLocation(robot_name=u'charlie', region=u'R2')


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="L2")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=0.3)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.RRTControllerHandler(robot_type=1,max_angle_goal=6.28,max_angle_overlap=1.57,plotting=True)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
alice

Type: # Robot type
basicSim

