# This is a configuration definition file in folder "/media/Data/Dropbox/LTLMoP-ubuntu/src/examples/FStwo_robot_negotiation/kitchen/deliveryAgent/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
deliver = share.DummyActuatorHandler.setActuator(name='deliver')
pickup = share.DummyActuatorHandler.setActuator(name='pickup')

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
deliveryAgent

Name: # Configuration name
basicSim

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
assistant_cookingArea = share.DummySensorHandler.otherRobotLocation(robot_name=u'assistant', region=u'cookingArea')
preparationArea_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'preparationArea')
deliver_ac = share.DummySensorHandler.buttonPress(button_name='deliver_ac', init_value=False)
road_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'road')
pickup_ac = share.DummySensorHandler.buttonPress(button_name='pickup_ac', init_value=False)
chef_cookingArea = share.DummySensorHandler.otherRobotLocation(robot_name=u'chef', region=u'cookingArea')
assistant_storage = share.DummySensorHandler.otherRobotLocation(robot_name=u'assistant', region=u'storage')
chef_company = share.DummySensorHandler.otherRobotLocation(robot_name=u'chef', region=u'company')
assistant_company = share.DummySensorHandler.otherRobotLocation(robot_name=u'assistant', region=u'company')
order = share.DummySensorHandler.buttonPress(button_name='order', init_value=False)
storage_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'storage')
chef_preparationArea = share.DummySensorHandler.otherRobotLocation(robot_name=u'chef', region=u'preparationArea')
cookingArea_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'cookingArea')
assistant_ActopenDoor = share.DummySensorHandler.otherRobotSensorStatus(robot_name=u'assistant', sensor_name=u'openDoor')
assistant_preparationArea = share.DummySensorHandler.otherRobotLocation(robot_name=u'assistant', region=u'preparationArea')
chef_storage = share.DummySensorHandler.otherRobotLocation(robot_name=u'chef', region=u'storage')
chef_road = share.DummySensorHandler.otherRobotLocation(robot_name=u'chef', region=u'road')
company_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'company')
assistant_road = share.DummySensorHandler.otherRobotLocation(robot_name=u'assistant', region=u'road')


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="company")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.RRTControllerHandler(robot_type=1,max_angle_goal=6.28,max_angle_overlap=1.57,plotting=False)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
deliveryAgent

Type: # Robot type
basicSim

