# This is a configuration definition file in folder "/Users/wongkaiweng/Dropbox/LTLMoP/src/examples/patching/twoRobotsDelivery/alice_order_new2/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
deliver = alice.NaoActuatorHandler.runBehavior(endBehaviorName='', repeat_period='', startBehaviorName=u'deliver')
pickup = alice.NaoActuatorHandler.runBehavior(endBehaviorName='', repeat_period='', startBehaviorName=u'pickup')

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
alice

Name: # Configuration name
lab

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
bob_roadD = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'roadD')
roadB_rc = share.DummySensorHandler.inRegion(regionName=u'roadB')
office_rc = share.DummySensorHandler.inRegion(regionName=u'office')
bob_storage = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'storage')
bob_roadA = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'roadA')
pickup_ac = share.DummySensorHandler.buttonPress(button_name='pickup_ac', init_value=False)
bob_office = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'office')
roadA_rc = share.DummySensorHandler.inRegion(regionName=u'roadA')
order = share.DummySensorHandler.buttonPress(button_name='order', init_value=False)
storage_rc = share.DummySensorHandler.inRegion(regionName=u'storage')
roadC_rc = share.DummySensorHandler.inRegion(regionName=u'roadC')
park_rc = share.DummySensorHandler.inRegion(regionName=u'park')
bob_roadC = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'roadC')
deliver_ac = share.DummySensorHandler.buttonPress(button_name='deliver_ac', init_value=False)
roadD_rc = share.DummySensorHandler.inRegion(regionName=u'roadD')
bob_roadB = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'roadB')


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
nao.NaoActuatorHandler()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.BipedalDriveHandler(maxspeed=1.0,maxfreq=1.0,angcur=1.047,angfwd=0.262,minvel=0.3,silent=True)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
nao.NaoLocomotionCommandHandler()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
share.Pose.ViconPoseHandler(host="10.0.0.102",port=800,x_VICON_name="Nao:Nao <t-X>",y_VICON_name="Nao:Nao <t-Y>",theta_VICON_name="Nao:Nao <a-Z>")

RobotName: # Robot Name
alice

SensorHandler: # Sensor handler file in robots/Type folder
nao.NaoSensorHandler()

Type: # Robot type
nao

