# This is a configuration definition file for the example "more_RV".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
deliver = OptimusSecundus.iRobotCreateActuator.drop()
pickup = OptimusSecundus.iRobotCreateActuator.pickup()

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
OptimusSecundus

Name: # Configuration name
iCreate

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
order_sake = OptimusSecundus.iRobotCreateSensor.bump_right()
c2_order = share.dummySensor.buttonPress(button_name="c2_order",init_value=False)
sake_ready = share.dummySensor.buttonPress(button_name="sake_ready",init_value=False)
c1_order = share.dummySensor.buttonPress(button_name="c1_order",init_value=False)
order_rice = OptimusSecundus.iRobotCreateSensor.bump_left()
rice_ready = share.dummySensor.buttonPress(button_name="rice_ready",init_value=False)


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
iRobotCreateActuator()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[  2.32976290e+02,   9.71065412e+00,  -1.01627668e+03],
       [ -1.10121102e+01,  -1.98748348e+02,   4.29557966e+02],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
differentialDrive(d=0.6)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
iRobotCreateInit(listenIP="0.0.0.0",broadCastIP="10.0.0.128",createPort=8865,beaglePort=8866,artagPort=8844,sonarPort=8833,buffer=1024)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
iRobotCreateLocomotionCommand()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
vectorController()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
viconPose(host="10.0.0.102",port=800,x_VICON_name="roomba_with_arm:roomba_with_arm <t-X>",y_VICON_name="roomba_with_arm:roomba_with_arm <t-Y>",theta_VICON_name="roomba_with_arm:roomba_with_arm <a-Z>")

RobotName: # Robot Name
OptimusSecundus

SensorHandler: # Sensor handler file in robots/Type folder
iRobotCreateSensor()

Type: # Robot type
iRobotCreate

