# This is a configuration definition file for the example "two_customer_video".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
deliver = MAE.naoActuator.runBehavior(startBehaviorName="deliver",endBehaviorName="",repeat=False,repeat_period=)
pickup = MAE.naoActuator.runBehavior(startBehaviorName="pickup",endBehaviorName="",repeat=False,repeat_period=)

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
MAE

Name: # Configuration name
Nao

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
order_sake = MAE.naoSensor.seeLandMark(landMark_id=68)
c2_order = share.dummySensor.buttonPress(button_name="c2_order",init_value=False)
sake_ready = Food.FoodReadySensor.sakeReady()
c1_order = share.dummySensor.buttonPress(button_name="c1_order",init_value=False)
foodReady = Food.FoodReadySensor.sakeReady()
order_rice = MAE.naoSensor.seeLandMark(landMark_id=170)
rice_ready = Food.FoodReadySensor.riceReady()


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
naoActuator()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[  2.31693578e+02,   8.40361516e+00,  -1.01854817e+03],
       [  8.56355253e-01,  -1.97478513e+02,   3.66012755e+02],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
bipedalDrive(maxspeed=1.0,maxfreq=1.0,angcur=1.04716666667,angfwd=0.261791666667,minvel=0.3,silent=True)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
naoInit(ip="nao.local",port=9559)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
naoLocomotionCommand()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
vectorController()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
viconPose(host="10.0.0.102",port=800,x_VICON_name="Nao:Nao <t-X>",y_VICON_name="Nao:Nao <t-Y>",theta_VICON_name="Nao:Nao <a-Z>")

RobotName: # Robot Name
MAE

SensorHandler: # Sensor handler file in robots/Type folder
naoSensor()

Type: # Robot type
nao


======== Robot2 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
FoodReadyActuator()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 3.3333,  0.    ,  0.    ],
       [ 0.    , -3.3333,  0.    ],
       [ 0.    ,  0.    ,  1.    ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
differentialDrive(d=0.65)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
FoodReadyInit(NetduinoIP="10.0.0.156",ListenerPort=12000)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
FoodReadyLocomotionCommand(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
vectorController()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSimPose()

RobotName: # Robot Name
Food

SensorHandler: # Sensor handler file in robots/Type folder
FoodReadySensor()

Type: # Robot type
FoodReady

