# This is a configuration definition file in folder "/media/Data/Dropbox/LTLMoP-ubuntu/src/examples/_single_robot_example/kitchen/chef/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
cooking = chef_nao.NaoActuatorHandler.runBehavior(endBehaviorName='', startBehaviorName='cook_good-4fa848/behavior_1')

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
chef

Name: # Configuration name
nao_basicSim

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
ingredientArrived = share.DummySensorHandler.buttonPress(button_name=u'ingredientArrived', init_value=False)
road_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName='road')
preparationArea_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName='preparationArea')
company_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName='company')
storage_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName='storage')
cookingArea_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName='cookingArea')
cooking_ac = chef_nao.NaoSensorHandler.isBehaviorCompleted(behaviorName='cook_good-4fa848/behavior_1')
assistant_ActpassIngredient = share.DummySensorHandler.buttonPress(button_name='assistant_ActpassIngredient', init_value=False)
assistant_passIngredient = share.DummySensorHandler.buttonPress(button_name='assistant_passIngredient', init_value=False)


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="cookingArea")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
chef

Type: # Robot type
basicSim


======== Robot2 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
nao.NaoActuatorHandler()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.BipedalDriveHandler(maxspeed=1.0,maxfreq=1.0,angcur=1.047,angfwd=0.262,minvel=0.3,silent=True)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
nao.NaoInitHandler(ip="maecy.local",port=9559)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
nao.NaoLocomotionCommandHandler()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
share.Pose.ViconPoseHandler(host="128.84.189.209",port=800,x_VICON_name="Nao:Nao <t-X>",y_VICON_name="Nao:Nao <t-Y>",theta_VICON_name="Nao:Nao <a-Z>")

RobotName: # Robot Name
chef_nao

SensorHandler: # Sensor handler file in robots/Type folder
nao.NaoSensorHandler()

Type: # Robot type
nao

