# This is a configuration definition file in folder "/home/catherine/LTLMoP/src/examples/patching/twoRobots_assemblyLine/bob/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
stamp = share.DummyActuatorHandler.setActuator(name='stamp')
takeBlock = share.DummyActuatorHandler.setActuator(name='takeBlock')

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
bob

Name: # Configuration name
basicSim

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
startStamping = share.DummySensorHandler.buttonPress(button_name='startStamping', init_value=False)
r2_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'r2')
alice_r1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'r1')
r1_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'r1')
alice_takeBlock = share.DummySensorHandler.otherRobotActionStatus(robot_name=u'alice', action=u'takeBlock')
alice_r2 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'r2')
stamp_ac = share.DummySensorHandler.buttonPress(button_name='stamp_ac', init_value=False)
takeBlock_ac = share.DummySensorHandler.buttonPress(button_name='takeBlock_ac', init_value=False)


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="r2")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
bob

Type: # Robot type
basicSim

