# This is a configuration definition file in folder "/Users/wongkaiweng/Dropbox/LTLMoP/src/examples/patching/twoRobotsDelivery/bob/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
bob

Name: # Configuration name
basicSim

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
gov_rc = share.DummySensorHandler.inRegion(regionName=u'gov')
roadTL_rc = share.DummySensorHandler.inRegion(regionName=u'roadTL')
alice_roadBL = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'roadBL')
roadBR_rc = share.DummySensorHandler.inRegion(regionName=u'roadBR')
office1_rc = share.DummySensorHandler.inRegion(regionName=u'office1')
alice_roadTL = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'roadTL')
alice_threeWay = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'threeWay')
park_rc = share.DummySensorHandler.inRegion(regionName=u'park')
office2_rc = share.DummySensorHandler.inRegion(regionName=u'office2')
roadTR_rc = share.DummySensorHandler.inRegion(regionName=u'roadTR')
alice_gov = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'gov')
alice_roadBR = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'roadBR')
threeWay_rc = share.DummySensorHandler.inRegion(regionName=u'threeWay')
alice_roadTR = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'roadTR')
alice_office1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'office1')
alice_office2 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'office2')
roadBL_rc = share.DummySensorHandler.inRegion(regionName=u'roadBL')


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="gov")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
bob

Type: # Robot type
basicSim

