# This is a configuration definition file in folder "/media/Data/Dropbox/LTLMoP-ubuntu/src/examples/_single_robot_example/kitchen/kitchenAssistant/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
passIngredient = assistant_nao.NaoActuatorHandler.runBehavior(endBehaviorName='', startBehaviorName='passitem-763a4f/behavior_1')
openDoor = share.DummyActuatorHandler.imageDisplay(falseImage='/home/catherine/LTLMoP/src/examples/_single_robot_example/kitchen/pic_map/mapDashed_with_door_nao-01.png', actuatorName=u'openDoor', trueImage='/home/catherine/LTLMoP/src/examples/_single_robot_example/kitchen/pic_map/mapDashed_without_door_nao-01.png')

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
assistant

Name: # Configuration name
nao_basicSim

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
ingredientArrived = share.DummySensorHandler.buttonPress(button_name=u'ingredientArrived', init_value=False)
deliveryAgent_road = share.DummySensorHandler.buttonPress(button_name='deliveryAgent_road', init_value=False)
preparationArea_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'preparationArea')
deliveryAgent_company = share.DummySensorHandler.buttonPress(button_name='deliveryAgent_company', init_value=False)
company_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'company')
chef_receivedIngredient = share.DummySensorHandler.buttonPress(button_name='chef_receivedIngredient', init_value=False)
road_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'road')
deliveryAgent_orderDelivery = share.DummySensorHandler.buttonPress(button_name='deliveryAgent_orderDelivery', init_value=False)
storage_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'storage')
passIngredient_ac = assistant_nao.NaoSensorHandler.isBehaviorCompleted(behaviorName='passitem-763a4f/behavior_1')
cookingArea_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'cookingArea')
deliveryAgent_storage = share.DummySensorHandler.buttonPress(button_name='deliveryAgent_storage', init_value=False)
openDoor_ac = share.DummySensorHandler.imageDisplayCompletion(actuatorName=u'openDoor')
chef_cooking = share.DummySensorHandler.buttonPress(button_name='chef_cooking', init_value=False)


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="preparationArea")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
assistant

Type: # Robot type
basicSim


======== Robot2 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
nao.NaoActuatorHandler()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.BipedalDriveHandler(maxspeed=1.0,maxfreq=1.0,angcur=1.047,angfwd=0.262,minvel=0.3,silent=True)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
nao.NaoInitHandler(ip="maeby.local",port=9559)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
nao.NaoLocomotionCommandHandler()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
share.Pose.ViconPoseHandler(host="10.0.0.102",port=800,x_VICON_name="Nao:Nao <t-X>",y_VICON_name="Nao:Nao <t-Y>",theta_VICON_name="Nao:Nao <a-Z>")

RobotName: # Robot Name
assistant_nao

SensorHandler: # Sensor handler file in robots/Type folder
nao.NaoSensorHandler()

Type: # Robot type
nao

