# This is a configuration definition file in folder "/media/Data/Dropbox/LTLMoP-ubuntu/src/examples/fmrChallenge/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
Basic_Simulated_Robot

Name: # Configuration name
basicSim

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
segment_0_bottom_lane_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName='segment_0_bottom_lane')
segment_5_bottom_lane_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName='segment_5_bottom_lane')
segment_6_bottom_lane_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName='segment_6_bottom_lane')
segment_1_right_intersect_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName='segment_1_right_intersect')
segment_4_bottom_lane_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName='segment_4_bottom_lane')
segment_0_left_intersect_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName='segment_0_left_intersect')
segment_2_top_lane_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName='segment_2_top_lane')
segment_3_top_lane_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName='segment_3_top_lane')
segment_0_right_intersect_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName='segment_0_right_intersect')
segment_0_top_lane_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName='segment_0_top_lane')
segment_1_bottom_lane_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName='segment_1_bottom_lane')
segment_2_bottom_lane_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName='segment_2_bottom_lane')
segment_5_right_intersect_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName='segment_5_right_intersect')
segment_3_right_intersect_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName='segment_3_right_intersect')
segment_6_top_lane_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName='segment_6_top_lane')
segment_2_right_intersect_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName='segment_2_right_intersect')
segment_5_top_lane_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName='segment_5_top_lane')
segment_3_bottom_lane_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName='segment_3_bottom_lane')
segment_4_top_lane_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName='segment_4_top_lane')
segment_1_top_lane_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName='segment_1_top_lane')


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="segment_2_bottom_lane")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=8.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.RRTControllerHandler(robot_type=1,max_angle_goal=6.28,max_angle_overlap=1.57,plotting=False)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
Basic_Simulated_Robot

Type: # Robot type
basicSim

