# This is a configuration definition file in folder "/home/catherine/LTLMoP/src/examples/two_robot_negotiation/city/full/bob/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
bob

Name: # Configuration name
bob

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
call_g = share.DummySensorHandler.buttonPress(button_name='call_g', init_value=False)
alice_postOffice = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'postOffice')
alice_square = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'square')
call_p = share.DummySensorHandler.buttonPress(button_name='call_p', init_value=False)
alice_tunnel = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'tunnel')
alice_policeStation1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'policeStation1')
alice_policeStation2 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'policeStation2')
alice_park = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'park')
alice_groceryStore = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'groceryStore')
alice_bridge = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'bridge')


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="postOffice")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.RRTControllerHandler(robot_type=1,max_angle_goal=6.28,max_angle_overlap=1.57,plotting=False)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
bob

Type: # Robot type
basicSim

