# This is a configuration definition file in folder "/Users/wongkaiweng/Dropbox/LTLMoP/src/examples/patching/twoRobotsRestaurant/waiter_wander/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
waiter

Name: # Configuration name
basicSim

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
counter_rc = share.DummySensorHandler.inRegion(regionName=u'counter')
waitingArea_rc = share.DummySensorHandler.inRegion(regionName=u'waitingArea')
chef_order = share.DummySensorHandler.otherRobotLocation(robot_name=u'chef', region=u'order')
chef_waitingArea = share.DummySensorHandler.otherRobotLocation(robot_name=u'chef', region=u'waitingArea')
chef_entrance = share.DummySensorHandler.otherRobotLocation(robot_name=u'chef', region=u'entrance')
chef_customer = share.DummySensorHandler.otherRobotLocation(robot_name=u'chef', region=u'customer')
chef_counter = share.DummySensorHandler.otherRobotLocation(robot_name=u'chef', region=u'counter')
kitchen_rc = share.DummySensorHandler.inRegion(regionName=u'kitchen')
order_rc = share.DummySensorHandler.inRegion(regionName=u'order')
chef_kitchen = share.DummySensorHandler.otherRobotLocation(robot_name=u'chef', region=u'kitchen')
fountain_rc = share.DummySensorHandler.inRegion(regionName=u'fountain')
commonArea_rc = share.DummySensorHandler.inRegion(regionName=u'commonArea')
hallway_rc = share.DummySensorHandler.inRegion(regionName=u'hallway')
chef_hallway = share.DummySensorHandler.otherRobotLocation(robot_name=u'chef', region=u'hallway')
entrance_rc = share.DummySensorHandler.inRegion(regionName=u'entrance')
chef_commonArea = share.DummySensorHandler.otherRobotLocation(robot_name=u'chef', region=u'commonArea')
customer_rc = share.DummySensorHandler.inRegion(regionName=u'customer')


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="customer")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
waiter

Type: # Robot type
basicSim

