# This is a configuration definition file in folder "/home/catherine/LTLMoP/src/examples/FStwo_robot_negotiation/bob/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
bob

Name: # Configuration name
bobWithAliceSensorR1

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
r3_rc = share.DummySensorHandler.inRegion(regionName=u'r3')
r1_rc = share.DummySensorHandler.inRegion(regionName=u'r1')
r2_rc = share.DummySensorHandler.inRegion(regionName=u'r2')
r4_rc = share.DummySensorHandler.inRegion(regionName=u'r4')
r5_rc = share.DummySensorHandler.inRegion(regionName=u'r5')
r6_rc = share.DummySensorHandler.inRegion(regionName=u'r6')
alice_r6 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'r6')
alice_r5 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'r5')
alice_r4 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'r4')
alice_r1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'r1')
alice_r3 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'r3')
alice_r2 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'r2')
alice_r3_rc = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'r3_rc')
alice_r2_rc = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'r2_rc')
alice_r4_rc = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'r4_rc')
alice_r1_rc = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'r1_rc')
alice_r5_rc = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'r5_rc')
alice_r6_rc = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'r6_rc')


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="r1")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=0.3)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
bob

Type: # Robot type
basicSim

