# This is a configuration definition file in folder "/home/catherine/LTLMoP/src/examples/patching/threeRobots/charlie/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
charlie

Name: # Configuration name
basicSim

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
requestR1 = share.DummySensorHandler.buttonPress(button_name='requestR1', init_value=False)
bob_L4 = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'L4')
bob_L5 = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'L5')
bob_L2 = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'L2')
bob_L3 = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'L3')
bob_L1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'L1')
alice_R5 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'R5')
alice_R4 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'R4')
alice_R1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'R1')
alice_R3 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'R3')
alice_R2 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'R2')
L1_rc = share.DummySensorHandler.inRegion(regionName=u'L1')
alice_M1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'M1')
bob_R4 = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'R4')
bob_R5 = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'R5')
L4_rc = share.DummySensorHandler.inRegion(regionName=u'L4')
bob_R1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'R1')
bob_R2 = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'R2')
bob_R3 = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'R3')
requestL5 = share.DummySensorHandler.buttonPress(button_name='requestL5', init_value=False)
bob_MR = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'MR')
R2_rc = share.DummySensorHandler.inRegion(regionName=u'R2')
R5_rc = share.DummySensorHandler.inRegion(regionName=u'R5')
M1_rc = share.DummySensorHandler.inRegion(regionName=u'M1')
bob_ML = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'ML')
L5_rc = share.DummySensorHandler.inRegion(regionName=u'L5')
L2_rc = share.DummySensorHandler.inRegion(regionName=u'L2')
R4_rc = share.DummySensorHandler.inRegion(regionName=u'R4')
alice_L3 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'L3')
alice_L2 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'L2')
alice_L1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'L1')
alice_L5 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'L5')
alice_L4 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'L4')
bob_M1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'bob', region=u'M1')
ML_rc = share.DummySensorHandler.inRegion(regionName=u'ML')
R3_rc = share.DummySensorHandler.inRegion(regionName=u'R3')
R1_rc = share.DummySensorHandler.inRegion(regionName=u'R1')
alice_ML = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'ML')
L3_rc = share.DummySensorHandler.inRegion(regionName=u'L3')
MR_rc = share.DummySensorHandler.inRegion(regionName=u'MR')
alice_MR = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'MR')


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="M1")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=0.3)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.RRTControllerHandler(robot_type=1,max_angle_goal=6.28,max_angle_overlap=1.57,plotting=False)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
charlie

Type: # Robot type
basicSim

