# This is a configuration definition file in folder "/home/catherine/LTLMoP/src/examples/multiRobot/full/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
rob1_pickup = share.DummyActuatorHandler.setActuator(name='rob1_pickup')
rob2_pickup = share.DummyActuatorHandler.setActuator(name='rob2_pickup')
rob3_pickup = share.DummyActuatorHandler.setActuator(name='rob3_pickup')
rob1_drop = share.DummyActuatorHandler.setActuator(name='rob2_drop')
rob2_drop = share.DummyActuatorHandler.setActuator(name='rob2_drop')
rob3_drop = share.DummyActuatorHandler.setActuator(name='rob2_drop')
r1_done     = share.DummyActuatorHandler.setActuator(name='r1_done')
r3_done     = share.DummyActuatorHandler.setActuator(name='r3_done')
r6_done     = share.DummyActuatorHandler.setActuator(name='r6_done')
r8_done     = share.DummyActuatorHandler.setActuator(name='r8_done')


Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
rob1

Name: # Configuration name
three_robots_three_items_bdd

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
rob1_metal = share.DummySensorHandler.buttonPress(button_name='rob1_metal', init_value=False)
rob1_glass = share.DummySensorHandler.buttonPress(button_name='rob1_glass', init_value=False)
rob1_paper = share.DummySensorHandler.buttonPress(button_name='rob1_paper', init_value=False)
rob1_pickup_ac = share.DummySensorHandler.buttonPress(button_name='rob1_pickup_ac', init_value=False)
rob1_r1_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'r1')
rob1_r3_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'r3')
rob1_r2_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'r2')
rob1_r4_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'r4')
rob1_r5_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'r5')
rob1_r6_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'r6')
rob1_r7_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'r7')
rob1_r8_rc = share.DummySensorHandler.inRegion(robotName=u'rob1', regionName=u'r8')
rob2_metal = share.DummySensorHandler.buttonPress(button_name='rob2_metal', init_value=False)
rob2_glass = share.DummySensorHandler.buttonPress(button_name='rob2_glass', init_value=False)
rob2_paper = share.DummySensorHandler.buttonPress(button_name='rob2_paper', init_value=False)
rob2_pickup_ac = share.DummySensorHandler.buttonPress(button_name='rob2_pickup_ac', init_value=False)
rob2_r1_rc = share.DummySensorHandler.inRegion(robotName=u'rob2', regionName=u'r1')
rob2_r3_rc = share.DummySensorHandler.inRegion(robotName=u'rob2', regionName=u'r3')
rob2_r2_rc = share.DummySensorHandler.inRegion(robotName=u'rob2', regionName=u'r2')
rob2_r4_rc = share.DummySensorHandler.inRegion(robotName=u'rob2', regionName=u'r4')
rob2_r5_rc = share.DummySensorHandler.inRegion(robotName=u'rob2', regionName=u'r5')
rob2_r6_rc = share.DummySensorHandler.inRegion(robotName=u'rob2', regionName=u'r6')
rob2_r7_rc = share.DummySensorHandler.inRegion(robotName=u'rob2', regionName=u'r7')
rob2_r8_rc = share.DummySensorHandler.inRegion(robotName=u'rob2', regionName=u'r8')
rob3_metal = share.DummySensorHandler.buttonPress(button_name='rob3_metal', init_value=False)
rob3_glass = share.DummySensorHandler.buttonPress(button_name='rob3_glass', init_value=False)
rob3_paper = share.DummySensorHandler.buttonPress(button_name='rob3_paper', init_value=False)
rob3_pickup_ac = share.DummySensorHandler.buttonPress(button_name='rob3_pickup_ac', init_value=False)
rob3_r1_rc = share.DummySensorHandler.inRegion(robotName=u'rob3', regionName=u'r1')
rob3_r3_rc = share.DummySensorHandler.inRegion(robotName=u'rob3', regionName=u'r3')
rob3_r2_rc = share.DummySensorHandler.inRegion(robotName=u'rob3', regionName=u'r2')
rob3_r4_rc = share.DummySensorHandler.inRegion(robotName=u'rob3', regionName=u'r4')
rob3_r5_rc = share.DummySensorHandler.inRegion(robotName=u'rob3', regionName=u'r5')
rob3_r6_rc = share.DummySensorHandler.inRegion(robotName=u'rob3', regionName=u'r6')
rob3_r7_rc = share.DummySensorHandler.inRegion(robotName=u'rob3', regionName=u'r7')
rob3_r8_rc = share.DummySensorHandler.inRegion(robotName=u'rob3', regionName=u'r8')


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="r1")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.MultiRobotControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
rob1

Type: # Robot type
basicSim

======== Robot2 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="r8")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
rob2

Type: # Robot type
basicSim

======== Robot3 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="r3")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
rob3

Type: # Robot type
basicSim

