# This is a configuration definition file in folder "/media/Data/Dropbox/LTLMoP-ubuntu/src/examples/FStwo_robot_negotiation/delivery/bob/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
sweeping = share.DummyActuatorHandler.setActuator(name='sweeping')

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
bob

Name: # Configuration name
basicSim

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
alice_hallwayBottom = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'hallwayBottom')
cleanArea = share.DummySensorHandler.buttonPress(button_name='cleanArea', init_value=False)
hallwayBottom_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'hallwayBottom')
storageBottom_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'storageBottom')
reception_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'reception')
alice_hallwayTop = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'hallwayTop')
atrium_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'atrium')
emergencyExit_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'emergencyExit')
office_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'office')
alice_storageBottom = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'storageBottom')
alice_atrium = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'atrium')
trashInHallwayBottom = share.DummySensorHandler.buttonPress(button_name='trashInHallwayBottom', init_value=False)
hallwayCentral_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'hallwayCentral')
itemReceived = share.DummySensorHandler.otherRobotSensorStatus(robot_name=u'alice', sensor_name=u'itemReceived')
alice_cafe = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'cafe')
alice_office = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'office')
alice_emergencyExit = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'emergencyExit')
alice_library = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'library')
storageTop_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'storageTop')
alice_reception = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'reception')
alice_hallwayCentral = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'hallwayCentral')
trashInHallwayTop = share.DummySensorHandler.buttonPress(button_name='trashInHallwayTop', init_value=False)
hallwayTop_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'hallwayTop')
alice_storageTop = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'storageTop')
sweeping_ac = share.DummySensorHandler.buttonPress(button_name='sweeping_ac', init_value=False)
library_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'library')
trashInHallwayCentral = share.DummySensorHandler.buttonPress(button_name='trashInHallwayCentral', init_value=False)
cafe_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'cafe')


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="hallwayCentral")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.RRTControllerHandler(robot_type=1,max_angle_goal=6.28,max_angle_overlap=1.57,plotting=False)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
bob

Type: # Robot type
basicSim

