# This is a configuration definition file in folder "/home/catherine/LTLMoP/src/examples/patching/maintainDistance_patching/bob_noCoordination/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
bob

Name: # Configuration name
naoInLab_old

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
r3_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName=u'r3')
r1_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName=u'r1')
alice_r6 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'r6')
r2_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName=u'r2')
alice_r5 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'r5')
alice_r4 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'r4')
r6_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName=u'r6')
alice_r1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'r1')
r4_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName=u'r4')
alice_r3 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'r3')
alice_r2 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'r2')
r5_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName=u'r5')


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
nao.NaoActuatorHandler()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[   3.92905536,  112.65984656,  221.20403174],
       [ 126.60594589,  -11.34049117,  301.63659767],
       [   0.        ,    0.        ,    1.        ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.BipedalDriveHandler(maxspeed=1.0,maxfreq=1.0,angcur=1.047,angfwd=0.262,minvel=0.3,silent=True)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
nao.NaoInitHandler(ip="maeby.local",port=9559)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
nao.NaoLocomotionCommandHandler()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.RRTControllerHandler(robot_type=4,max_angle_goal=6.28,max_angle_overlap=1.57,plotting=False)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
share.Pose.ViconPoseHandler(host="10.0.0.102",port=800,x_VICON_name="maeby:maeby <t-X>",y_VICON_name="maeby:maeby <t-Y>",theta_VICON_name="maeby:maeby <a-Z>")

RobotName: # Robot Name
bob

SensorHandler: # Sensor handler file in robots/Type folder
nao.NaoSensorHandler()

Type: # Robot type
nao

