# This is a configuration definition file in folder "/media/Data/Dropbox/LTLMoP-ubuntu/src/examples/_single_robot_example/kitchen/deliveryAgent_characterization_simple/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
pickup = share.DummyActuatorHandler.setActuator(name='pickup')
deliver = share.DummyActuatorHandler.setActuator(name='deliver')

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
deliveryAgent

Name: # Configuration name
nao

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
preparationArea_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName='preparationArea')
company_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName='company')
road_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName='road')
assistant_openDoor = share.DummySensorHandler.buttonPress(button_name='assistant_openDoor', init_value=False)
storage_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName='storage')
pickup_ac = share.DummySensorHandler.buttonPress(button_name='pickup_ac', init_value=False)
deliver_ac = share.DummySensorHandler.buttonPress(button_name='deliver_ac', init_value=False)
cookingArea_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName='cookingArea')
order = share.DummySensorHandler.buttonPress(button_name='order', init_value=False)


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
nao.NaoActuatorHandler()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[  1.17287805e+01,   2.18825625e+02,   3.57558275e+02],
       [  2.47311842e+02,  -1.16011399e-01,   4.84804562e+01],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.BipedalDriveHandler(maxspeed=1.0,maxfreq=1.0,angcur=1.047,angfwd=0.262,minvel=0.3,silent=True)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
nao.NaoInitHandler(ip="maecy.local",port=9559)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
nao.NaoLocomotionCommandHandler()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
share.Pose.ViconPoseHandler(host="128.84.189.209",port=800,x_VICON_name="maecy_good:maecy <t-X>",y_VICON_name="maecy_good:maecy <t-Y>",theta_VICON_name="maecy_good:maecy <a-Z>")

RobotName: # Robot Name
deliveryAgent

SensorHandler: # Sensor handler file in robots/Type folder
nao.NaoSensorHandler()

Type: # Robot type
nao

