# This is a configuration definition file in folder "/Users/wongkaiweng/Dropbox/LTLMoP-mac/src/examples/FStwo_robot_negotiation/threeRobots_small/bob/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
bob

Name: # Configuration name
nao

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
R2_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName=u'R2')
M1_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName=u'M1')
alice_R1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'R1')
alice_R3 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'R3')
alice_R2 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'R2')
L1_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName=u'L1')
alice_M1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'M1')
charlie_M1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'charlie', region=u'M1')
R3_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName=u'R3')
L2_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName=u'L2')
R1_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName=u'R1')
charlie_MR = share.DummySensorHandler.otherRobotLocation(robot_name=u'charlie', region=u'MR')
alice_L3 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'L3')
alice_L2 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'L2')
alice_L1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'L1')
ML_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName=u'ML')
charlie_L3 = share.DummySensorHandler.otherRobotLocation(robot_name=u'charlie', region=u'L3')
charlie_L2 = share.DummySensorHandler.otherRobotLocation(robot_name=u'charlie', region=u'L2')
charlie_L1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'charlie', region=u'L1')
alice_ML = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'ML')
L3_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName=u'L3')
MR_rc = share.DummySensorHandler.inRegion(radius=0.15, regionName=u'MR')
alice_MR = share.DummySensorHandler.otherRobotLocation(robot_name=u'alice', region=u'MR')
charlie_ML = share.DummySensorHandler.otherRobotLocation(robot_name=u'charlie', region=u'ML')
charlie_R1 = share.DummySensorHandler.otherRobotLocation(robot_name=u'charlie', region=u'R1')
charlie_R3 = share.DummySensorHandler.otherRobotLocation(robot_name=u'charlie', region=u'R3')
charlie_R2 = share.DummySensorHandler.otherRobotLocation(robot_name=u'charlie', region=u'R2')


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
nao.NaoActuatorHandler()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[   2.44007203,  109.27282645,  275.62340512],
       [ 114.53481068,   -9.57506164,  290.28368033],
       [   0.        ,    0.        ,    1.        ]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.BipedalDriveHandler(maxspeed=1.0,maxfreq=1.0,angcur=1.047,angfwd=0.262,minvel=0.3,silent=True)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
nao.NaoLocomotionCommandHandler()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.RRTControllerHandler(robot_type=4,max_angle_goal=6.28,max_angle_overlap=1.57,plotting=False)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
share.Pose.ViconPoseHandler(host="10.0.0.102",port=800,x_VICON_name="maeby:maeby <t-X>",y_VICON_name="maeby:maeby <t-Y>",theta_VICON_name="maeby:maeby <a-Z>")

RobotName: # Robot Name
bob

SensorHandler: # Sensor handler file in robots/Type folder
nao.NaoSensorHandler()

Type: # Robot type
nao

