# This is a configuration definition file in folder "/media/Data/Dropbox/LTLMoP-ubuntu/src/examples/_single_robot_example/paintBlock/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
takeBlock = fozzie.BaxterActuatorHandler.play_traj(loops=1, actuatorName=u'takeBlock', fileName=u'lib/handlers/baxter/actions/pickup_clean.rec')
paint = fozzie.BaxterActuatorHandler.play_traj(loops=1, actuatorName=u'paint', fileName=u'lib/handlers/baxter/actions/cleanup_return.rec')

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
Basic_Simulated_Robot

Name: # Configuration name
baxter

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
r1_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'r1')
r2_rc = share.DummySensorHandler.inRegion(radius=5.0, regionName=u'r2')
paint_ac = fozzie.BaxterSensorHandler.play_traj_completion(actuatorName=u'paint')
startPainting = share.DummySensorHandler.buttonPress(button_name='startPainting', init_value=False)
takeBlock_ac = fozzie.BaxterSensorHandler.play_traj_completion(actuatorName=u'takeBlock')
bob_r1 = share.DummySensorHandler.buttonPress(button_name='bob_r1', init_value=False)
bob_takeBlock = share.DummySensorHandler.buttonPress(button_name='bob_takeBlock', init_value=False)
bob_r2 = share.DummySensorHandler.buttonPress(button_name='bob_r2', init_value=True)


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.HolonomicDriveHandler(multiplier=50.0,maxspeed=999.0)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
basicSim.BasicSimInitHandler(init_region="r1")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
basicSim.BasicSimLocomotionCommandHandler(speed=1.0)

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.RRTControllerHandler(robot_type=1,max_angle_goal=6.28,max_angle_overlap=1.57,plotting=True)

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
basicSim.BasicSimPoseHandler()

RobotName: # Robot Name
Basic_Simulated_Robot

Type: # Robot type
basicSim


======== Robot2 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
baxter.BaxterActuatorHandler(limb="both",rate=100.0,mode="position_w_id")

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
share.Drive.BipedalDriveHandler(maxspeed=1.0,maxfreq=1.0,angcur=1.047,angfwd=0.262,minvel=0.3,silent=True)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
baxter.BaxterInitHandler()

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
baxter.BaxterLocomotionCommandHandler()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
share.Pose.ViconPoseHandler(host="10.0.0.102",port=800,x_VICON_name="baxter:baxter <t-X>",y_VICON_name="baxter:baxter <t-Y>",theta_VICON_name="baxter:baxter <a-Z>")

RobotName: # Robot Name
fozzie

SensorHandler: # Sensor handler file in robots/Type folder
baxter.BaxterSensorHandler()

Type: # Robot type
baxter

